// colors
$background--light: #7474BF;
$background--dark: #222;
$blue: #1f8de2;
$green: #1fe27b;
$red: #e21f3f;

$default-color: #FFFFFF;
$headings-small-color: #FFFFFF;

$h1-margin-bottom: 1em;

// Border color for inputs on focus
$input-border-focus: #EEEEEE;