@import 'vars';
@import 'event';
@import 'form';
@import 'bootstrap-custom';
@import 'toastr';

body {
  color: $default-color;
  font-family: Helvetica, sans-serif;
  background-color: $background--light;
  background: -webkit-linear-gradient(to left, #7474BF , #348AC7);
  background: linear-gradient(to left, #7474BF , #348AC7);
}

h1{
  margin-bottom: $h1-margin-bottom;
}

h3 {
  margin-bottom: $h1-margin-bottom;
}

.create-event-button {
  @extend .btn;
  @extend .btn-success;
  margin-top: 10px;
  float: right;
}